extends ../layout/main

block title
    | Registrate

block extracss
    !=style('forms')

block content
    h1 Registrate ahora
    
    .job-container
        form(action=route('UserController.create') method="POST")
            !=csrfField()
            
            label(for="username") Username
            input(type="text" name="username" value=old('username', ''))
            
            if(hasErrorFor('username'))
                span=getErrorFor('username')

            label(for="email") Correo
            input(type="text" name="email" value=old('email', ''))
            
            if(hasErrorFor('email'))
                span=getErrorFor('email')
                
            label(for="password") Contraseña
            input(type="text" name="password" value=old('password', ''))
            
            if(hasErrorFor('password'))
                span=getErrorFor('password')

            button(type='submit') Enviar
